body, html {
  margin:0;
  padding: 0;
}

#content {
  position: relative;
}

.db-container {
  width: 40%;
  overflow: hidden;
}

.db-field {
  transition: background 0.2s, opacity 0.2;
  border-radius: 5px;
  padding: 2px;
  padding-left: 10px;
  cursor: pointer;
}

.db-field:hover {
  background: #CCC;
}

.db-field.selected {
  background: #AAA;
}

.db-field.added {
  background: #AAA;
  opacity: 0.6;
  cursor: default;
}

.db-field.added:hover .remove-button {
  display: inline-block;
}

.remove-button {
  display: none;
  background-color: rgba(255, 0, 0, 0.5);
  transition: background-color 0.2s;
  color: white;
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 1px solid #000;
  font-size: 10px;
  line-height: 10px;
  border-radius: 15px;
  cursor:pointer;
  float: right;
}

.remove-button:hover {
  background-color: rgba(255, 0, 0, 1);
}

input[type="text"] {
  width: 38%;
}

.small {
  font-size: 10px;
  transition: font-size 0.2s;
}

.db-field:hover .small {
  font-size: 16px;
}

.hidden {
  display: none !important;
}
