body, html {
  margin:0;
  padding: 0;
}

.db-container {
  width: 40%;
  overflow: hidden;
}

.db-field {
  transition: background 0.2s;
  border-radius: 5px;
  padding: 2px;
  padding-left: 10px;
  cursor: pointer;
}

.db-field:hover {
  background: #CCC;
}

.db-field.selected {
  background: #AAA;
}
